@import './base.less';

* {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: var(--color-accent1);
  font-weight: bold;
  transition: 0.4s;

  &:not([href]) {
    cursor: not-allowed;
    filter: grayscale(0.3);
  }

  @media (hover: hover) {
    &[href]:hover {
      background-color: var(--color-accent2);
    }
  }
}

.flex-filler {
  flex: 1;
}

.copyright-notice {
  font-size: 0.8em;
  color: #666;
  margin-top: 20px;
  text-align: center;
}

.site-title {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
  color: var(--color-heading);
  text-align: center;
}
